@font-face{
  src: url('fonts/NationalPark-ExtraBold.otf');
  font-family: "National Park";
  font-weight: 800;
}
@font-face{
  src: url('fonts/NationalPark-Bold.otf');
  font-family: "National Park";
  font-weight: 700;
}
@font-face{
  src: url('fonts/NationalPark-SemiBold.otf');
  font-family: "National Park";
  font-weight: 600;
}
@font-face{
  src: url('fonts/NationalPark-Medium.otf');
  font-family: "National Park";
  font-weight: 500;
}
@font-face{
  src: url('fonts/NationalPark-Regular.otf');
  font-family: "National Park";
  font-weight: 400;
}

b, strong {
  font-weight: bold;
}
i {
  font-style: italic;
}

td, th {
  padding: 4px;
}
table {
  max-width: 100%;
}
th {
  font-weight: bold;
}
td {
  border: 1px solid #eee;
}

body {
  margin: 0;
  padding: 0;
  font-family: "National Park", "Source Sans", "Helvetica", sans-serif;
  line-height: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
#header {
  width: 100%;
  color: #FFE2A8;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  background: #4A282A;
  padding: 0 10px 0 6px;
  /*background: linear-gradient(90deg, #4A282A, #66373a);*/
  overflow-x: auto;
}
#header a {
  text-decoration: none;
  color: inherit;
}
#header a:hover {
  text-decoration: underline;
}
#header .main-menu {
  display: flex;
  flex-basis: 100%;
  justify-content: end;
}
#header .main-menu li {
  margin-left: 20px;
}
#header img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
#header .main-title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
}
#header .main-title a {
  display: inline-flex;
  margin-right: 3px;
}

#body {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 30px;
}
#body p {
  margin-bottom: 12px;
}
#map-wrap {
  z-index: 0;
  flex-basis: 100%;
  padding: 10px 10px 10px 0;
  position: relative;
}
#map {
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
}
#controls {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 2;
  background: white;
  border-radius: 5px;
}
#controls select {
  font-size: 15px;
  font-family: inherit;
  line-height: 1.4em;
  max-width: 200px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance:none;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#attribution-logo {
  position: absolute;
  bottom: 10px;
  z-index: 100;
}
#sidebar {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  min-width: 250px;
  width: 33.3333vw;
}
#sidebar .top,
#sidebar .body {
  padding: 10px;
}
#sidebar .top {
  background: white;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border-bottom: 1px solid #ddd;
  background: #4A282A;
  color: white;
}
#sidebar .body {
  max-height: 100%;
  overflow-y: auto;
}
#sidebar table {
  width: 100%;
}
#sidebar table td {
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, -apple-system, monospace;
  font-size: 14px;
  overflow-wrap: anywhere;
}
#sidebar #tag-table td {
  width: 50%;
}
#sidebar #relations-table td:not(:first-child) {
  overflow-wrap: normal;
}
#sidebar #meta-table td {
  background: rgba(0, 0, 0, 0.02);
}
#sidebar #meta-table td:first-child {
  font-family: inherit;
  font-weight: 600;
  width: 90px;
}
.link-list a {
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  #body {
    flex-direction: column-reverse;
  }
  #header .tagline {
    display: none;
  }
  #sidebar {
    width: 100%;
    height: 50%;
    flex: 0 0 auto;
    min-width: 100%;
  }
  #map-wrap {
    padding: 0;
  }
  #map {
    border-width: 0 0 1px 0;
  }
  #controls {
    top: 10px;
  }
}