
@font-face{
  src: url('fonts/NationalPark-ExtraBold.otf');
  font-family: "National Park";
  font-weight: 800;
}
@font-face{
  src: url('fonts/NationalPark-Bold.otf');
  font-family: "National Park";
  font-weight: 700;
}
@font-face{
  src: url('fonts/NationalPark-SemiBold.otf');
  font-family: "National Park";
  font-weight: 600;
}
@font-face{
  src: url('fonts/NationalPark-Medium.otf');
  font-family: "National Park";
  font-weight: 500;
}
@font-face{
  src: url('fonts/NationalPark-Regular.otf');
  font-family: "National Park";
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: "National Park", "Source Sans", "Helvetica", sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 24px;
}
#header {
  color: #4A282A;
  z-index: 1;
  position: relative;
  display: inline-block;
  left: 10px;
  top: 10px;
}
a.branding {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
#header img {
  height: 40px;
  width: 40px;
  margin-right: 6px;
}
#header .main-title {
  display: flex;
  flex-direction: column;
}
#header .tagline {
  font-size: 12.5px;
  font-weight: 500;
  margin-top: 6px;
  text-align: center;
}
#controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  background: white;
  border-radius: 5px;
}
#controls select {
  font-size: 40px;
  line-height: 2em;
  min-width: 200px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
#attribution-logo {
  position: absolute;
  bottom: 10px;
  z-index: 100;
}